<a href="https://colab.research.google.com/github/emilytsen/logicaPy/blob/main/LP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 1
while num <= 100:
  print(num, end=' ')
  num = num + 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range(100,0,-1):
  print(i, end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
#errado
num = 1 
while num < 101:
  if num >= 2 == 0:
    print(num)
  num = num + 1

In [ ]:
continuar = 'S' #entrar na execussão
while continuar == 'S' or continuar == 's':

  import random #importar numero aleatório
  n1 = random.randint(0,10)
  n2 = random.randint(0,10)
  print(n1)
  print(n2)

  print('Qual é o resultado entre a multiplicação entre {} e {}?'.format(n1,n2))
  resp = int(input())



  if resp == n1 * n2:
    print('Acertou miseravi!')
  else:
    print('Errou miseravi!')
  
  continuar = input('Deseja continuar (s/n)?')

6
5
Qual é o resultado entre a multiplicação entre 6 e 5?
30
Acertou miseravi!
Deseja continuar (s/n)?s
10
7
Qual é o resultado entre a multiplicação entre 10 e 7?
9
Errou miseravi!
Deseja continuar (s/n)?n

In [ ]:
cont = 1
cond = 's'

while cond == 's' or cond == 'S':

  aluno = input('Digite o nome do {}° aluno:'.format(cont))
  n1 = int(input('Nota 1:'))
  n2 = int(input('Nota 2:'))
  media = (n1+n2)/2
  print('A média final de {} é: {}'.format(aluno,media))
  cont = cont + 1
  cond = input('Deseja continuar (s/n)?')

Digite o nome do 1° aluno:ana
Nota 1:0
Nota 2:9
A média final de ana é: 4.5
Deseja continuar (s/n)?s
Digite o nome do 2° aluno:joao
Nota 1:5
Nota 2:7
A média final de joao é: 6.0
Deseja continuar (s/n)?n

In [ ]:
passo = 1
quantidade = int(input('Quantas notas N1 e N2 você deseja digitar? '))
while passo <= quantidade:
  n1 = int(input('Digite a N1: '))
  n2 = int(input('Digite a N2: '))
  media = (n1+n2)/2
  print('A média das notas N1 e N2 é: ', media)
  passo = passo +

In [ ]:

cont = 1
par = 0
inpar = 0
print('digite 10 numeros para efetuarmos a soma dos pares e dos impares')
while cont < 11:
  n = int(input('digite o {}° número:'.format(cont)))
  cal = n % 2
  
  if cal == 0: 
    par = par + n
  else:
    inpar = inpar + n
  cont = cont + 1
print('A soma de todos os pares são:',par)
print('A soma de todos os impares são:',inpar)

digite 10 numeros para efetuarmos a soma dos pares e dos impares
digite o 1° número:5
digite o 2° número:7
digite o 3° número:8
digite o 4° número:3
digite o 5° número:4
digite o 6° número:5
digite o 7° número:3
digite o 8° número:4
digite o 9° número:5
digite o 10° número:6
A soma de todos os pares são: 22
A soma de todos os impares são: 28

In [ ]:
par = 0
inpar = 0
print('digite 10 numeros para efetuarmos a soma dos pares e dos impares')
for i in range(10):
  n = int(input('digite um número:'))
  cal = n % 2
  
  if cal == 0: 
    par = par + n
  else:
    inpar = inpar + n
print('A soma de todos os pares são:',par)
print('A soma de todos os impares são:',inpar)

digite 10 numeros para efetuarmos a soma dos pares e dos impares
digite um número:4
digite um número:5
digite um número:6
digite um número:7

In [ ]:
import random
maior = 1
menor = 50
for i in range(20):
    
  print(numero, end=' ')
  if numero > maior:
    maior = numero
  elif numero < menor:
    menor = numero    
print()
print('O maior número sorteado é: ',maior)
print('O menor número sorteado é: ',menor)

8 3 36 50 38 15 15 19 33 15 22 25 20 1 8 13 1 33 21 32
O maior número sorteado é:  50
O menor número sorteado é:  1

In [ ]:

#elaborar um programa para exibir os números decrescente (a cada 3) até o 0 a partir do 1000 
num = 1000
while num > 3:
  num  = num - 3
  print(num, end=' ')

97 94 91 88 85 82 79 76 73 70 67 64 61 58 55 52 49 46 43 40 37 34 31 28 25 22 19 16 13 10 7 4 1

In [ ]:
#elaborar um programa para exibir os números decrescente (a cada 3) até o 199 a partir do 1000 
num = 1003
while num > 199:
  num  = num - 3
  print(num, end=' ')

1000 997 994 991 988 985 982 979 976 973 970 967 964 961 958 955 952 949 946 943 940 937 934 931 928 925 922 919 916 913 910 907 904 901 898 895 892 889 886 883 880 877 874 871 868 865 862 859 856 853 850 847 844 841 838 835 832 829 826 823 820 817 814 811 808 805 802 799 796 793 790 787 784 781 778 775 772 769 766 763 760 757 754 751 748 745 742 739 736 733 730 727 724 721 718 715 712 709 706 703 700 697 694 691 688 685 682 679 676 673 670 667 664 661 658 655 652 649 646 643 640 637 634 631 628 625 622 619 616 613 610 607 604 601 598 595 592 589 586 583 580 577 574 571 568 565 562 559 556 553 550 547 544 541 538 535 532 529 526 523 520 517 514 511 508 505 502 499 496 493 490 487 484 481 478 475 472 469 466 463 460 457 454 451 448 445 442 439 436 433 430 427 424 421 418 415 412 409 406 403 400 397 394 391 388 385 382 379 376 373 370 367 364 361 358 355 352 349 346 343 340 337 334 331 328 325 322 319 316 313 310 307 304 301 298 295 292 289 286 283 280 277 274 271 268 265 262 259 256 253 250 247 244 241 238 235 232 229 226 223 220 217 214 211 208 205 202 199

In [ ]:
#outra forma
#range(start, stop, step)
for numero in range(1000, 198,-3):
  print(numero, end=' ')

1000 997 994 991 988 985 982 979 976 973 970 967 964 961 958 955 952 949 946 943 940 937 934 931 928 925 922 919 916 913 910 907 904 901 898 895 892 889 886 883 880 877 874 871 868 865 862 859 856 853 850 847 844 841 838 835 832 829 826 823 820 817 814 811 808 805 802 799 796 793 790 787 784 781 778 775 772 769 766 763 760 757 754 751 748 745 742 739 736 733 730 727 724 721 718 715 712 709 706 703 700 697 694 691 688 685 682 679 676 673 670 667 664 661 658 655 652 649 646 643 640 637 634 631 628 625 622 619 616 613 610 607 604 601 598 595 592 589 586 583 580 577 574 571 568 565 562 559 556 553 550 547 544 541 538 535 532 529 526 523 520 517 514 511 508 505 502 499 496 493 490 487 484 481 478 475 472 469 466 463 460 457 454 451 448 445 442 439 436 433 430 427 424 421 418 415 412 409 406 403 400 397 394 391 388 385 382 379 376 373 370 367 364 361 358 355 352 349 346 343 340 337 334 331 328 325 322 319 316 313 310 307 304 301 298 295 292 289 286 283 280 277 274 271 268 265 262 259 256 253 250 247 244 241 238 235 232 229 226 223 220 217 214 211 208 205 202 199

In [ ]:
x = range(6)
for n in x:
  print(n)

0
1
2
3
4
5

In [ ]:
x = range(3, 6)
for n in x:
  print(n, end=' ')

3 4 5

In [ ]:
x = range(3, 20, 2)
for n in x:
  print(n, end=' ')

3 5 7 9 11 13 15 17 19

In [ ]:
for item in [3,4,5,6]:
  print(item)

3
4
5
6

In [ ]:
lista = "olá mundo"
for item in lista:
  print(item)

o
l
á

m
u
n
d
o

In [ ]:
for item in range(5):
  print('olá mundo')

olá mundo
olá mundo
olá mundo
olá mundo
olá mundo

In [ ]:
#mostrar a sequência dos N primeiros números da sequência de Fibonacci, solicitando o N para o usuário
#1 1 2 3 5 8 13 21...
n1 = 0
n2 = 1
sequencia = int(input('digite digite quantos números de Fibonacci deseja exibir:'))
print(n1, n2)

cont = 3

digite digite quantos números de Fibonacci deseja exibir:2
0 1

In [ ]:
num1 = 0
num2 = 1

sequencia = int(input('Digite quantos números de fibonacci deseja exibir: '))

if sequencia == 1:
  print(num1, end=' ')
elif sequencia == 2:
  print(num1, end=' ')
  print(num2, end=' ')
else:
  print(num1, end=' ')
  print(num2, end=' ')  
  cont = 3
  while cont <= sequencia:
    proximo = num1 + num2
    num1 = num2
    num2 = proximo
    print(proximo, end=' ')
    cont = cont + 1

Digite quantos números de fibonacci deseja exibir: 6
0 1 1 2 3 5

In [ ]:
n1 = int(input('Digite um valor:'))
n2 = int(input('Digite um outro valor:'))
cont = 0
if n1 < n2:
  while n1 < n2:
   n1 = n1 + 1 
   print(n1)
   cont = cont + n1
  print('a soma dos números entre os valores é:', cont)
else: 
  while n1 > n2:
    n1 = n1 - 1
    print(n1)
    cont = cont + n1
  print('a soma dos números entre os valores é:', cont)

Digite um valor:5
Digite um outro valor:1
4
3
2
1
a soma dos números entre os valores é: 10

In [ ]:
#pedir 2 numeros pro usuário e calcular a soma dos números entre esses valores(incluindo os valores colocados pelo usuário
#se o n1 < n2, calcule mas se o n1 > n2 não calcule
resposta = 'S'
while resposta == 'S' or resposta == 's':
  soma = 0
  num1 = int(input("Digite o primeiro numero: "))
  num2 = int(input("Digite o segundo numero.: "))
  if num1 < num2:
    for i in range(num1,num2+1): #[1,2,3,4,5]
      soma = soma + i
    print(f'O resultado da soma dos inteiros entre {num1} e {num2} e: {soma}')
  else:
    print('Não é possível fazer o cálculo, o 1º número é maior que o 2º!')
  resposta = str(input('Deseja continuar? (S/N)'))

Digite o primeiro numero: 1
Digite o segundo numero.: 4
O resultado da soma dos inteiros entre 1 e 4 e: 10
Deseja continuar? (S/N)n

In [ ]:
num = 1234
metade1 = str(num)[0] + str(num)[1]
print (num)
print(int(metade1) + int(metade1))
print(metade1 + metade1)

1234
24
1212

In [ ]:
# 3025 > 30+25=55 e 55*55=3025 mostrar todos os numeros com essa propriedade:
for i in range (1000,10000,1): #de 1000 a 10000 arescentando de 1 em 1
  texto = str(i) #converter i para texto
  a = int(texto[0] + texto[1])
  b = int(texto[2] + texto[3])
  soma = a + b 
  if(soma * soma == i):
    print(i)

2025
3025
9801

In [ ]:
l = [0]*5
print(l)

[0, 0, 0, 0, 0]

In [ ]:
l = [1,2]*5
print(l)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [ ]:
l=[]
print(l)

[]

In [ ]:
n = '3565'
l = list(n)
print(l)

['3', '5', '6', '5']

In [ ]:
l = [12, 9, 4]
print(l[0])

12

In [ ]:
l = [12, 9, 4]
print(l[0])
l[0] = 7
print(l[0])

12
7

In [ ]:
l = [1,2,3,4,5]
print(len(l))

5

In [ ]:
l = [1,2,3,4,5]
x = 0
while x < len(l):
  print(l[x], end=" ")
  x = x + 1

1 2 3 4 5

In [ ]:
L = [9,8,7,6,5]
for i in range(len(L)):
  print(L[i],end=" ")

9 8 7 6 5

In [ ]:
L = [1,2,3,2,1]
for item in L:
  print(item,end=" ")

1 2 3 2 1

In [ ]:
#colocar valores na lista  
l=[]
print(l)
for i in range(10):
  valor = int(input("{}° valor ->".format(i+1)))
  l.append(valor)
  print(l)

[]
1° valor ->3
[3]
2° valor ->12
[3, 12]
3° valor ->2
[3, 12, 2]
4° valor ->3
[3, 12, 2, 3]
5° valor ->4
[3, 12, 2, 3, 4]
6° valor ->1123
[3, 12, 2, 3, 4, 1123]
7° valor ->4
[3, 12, 2, 3, 4, 1123, 4]
8° valor ->4
[3, 12, 2, 3, 4, 1123, 4, 4]
9° valor ->43
[3, 12, 2, 3, 4, 1123, 4, 4, 43]
10° valor ->3
[3, 12, 2, 3, 4, 1123, 4, 4, 43, 3]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1º valor -> 9
2º valor -> 4
3º valor -> 5
4º valor -> 6
5º valor -> 2
6º valor -> 3
7º valor -> 4
8º valor -> 5
9º valor -> 6
10º valor -> 6
[9, 4, 5, 6, 2, 3, 4, 5, 6, 6]

In [ ]:
from random import randint
l=[]
for i in range (5):
  l.append(randint(1,50))
print(l)

[43, 2, 29, 4, 19]

In [ ]:
#gerar 10 numeros aleatorios (1,50) e mostre quantos pares e impares

from random import randint
l=[]
cont = 0
for i in range(10):
  l.append(randint(1,50))
print('Litsta terá esses números aleatórios:', l)
while cont < len(l):
  if(l[])
  
  cont += 1

Litsta terá esses números aleatórios: [22, 42, 18, 6, 42, 45, 33, 34, 38, 1]

In [ ]:
from random import randint
l=[]
par = 0
cont = 0
for i in range(20):
  l.append(randint(1,50))
  if (l[i] % 2 == 0):
    par = par + l[i]
    cont = cont + 1
  print(l, par, cont)
total =  par / cont
print(total)

[46] 46 1
[46, 28] 74 2
[46, 28, 21] 74 2
[46, 28, 21, 46] 120 3
[46, 28, 21, 46, 1] 120 3
[46, 28, 21, 46, 1, 5] 120 3
[46, 28, 21, 46, 1, 5, 40] 160 4
[46, 28, 21, 46, 1, 5, 40, 28] 188 5
[46, 28, 21, 46, 1, 5, 40, 28, 48] 236 6
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14] 250 7
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2] 252 8
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12] 264 9
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5] 264 9
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5, 18] 282 10
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5, 18, 19] 282 10
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5, 18, 19, 36] 318 11
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5, 18, 19, 36, 25] 318 11
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5, 18, 19, 36, 25, 41] 318 11
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5, 18, 19, 36, 25, 41, 29] 318 11
[46, 28, 21, 46, 1, 5, 40, 28, 48, 14, 2, 12, 5, 18, 19, 36, 25, 41, 29, 41] 318 11
28.90909090909091

In [ ]:
m = [[123],[123]]
print(m)

[[123], [123]]
[[1, 1, 1], [1, 1, 1]]

In [ ]:
m = [0]*2 #[0,0]
for i in range (2):
  m[i] = [0]*3 # [0,0] -> [[0,0,0],0] 
  for j in range (3):
    m[i][j] = 1
print(m)

In [ ]:
M = [0] * 2
M[0]=[1,1,1]
M[1]=[2,2,2]
print(M)

[[1, 1, 1], [2, 2, 2]]

In [ ]:
M=[[1,2,3],[4,5,6]]
print(M[0][1])

2

In [ ]:
m=[[1,2,3],[4,5,6]]
for i in range (0,2):
  for j in range (0,3):
    print("[{:^3}]".format(m[1][j]), end=' ')
  print()

[ 4 ] [ 5 ] [ 6 ]
[ 4 ] [ 5 ] [ 6 ]

In [ ]:
M=[0]*2
for i in range(0,2):
    M[i]=[0]*3
for j in range(0,3):
        M[i][j]=int(input("Digite o valor [{}][{}] -> ".format(i,j)))
print(m)

Digite o valor [1][0] -> 4
Digite o valor [1][1] -> 5
Digite o valor [1][2] -> 7
[[1, 2, 3], [4, 5, 6]]

In [ ]:
M=[]
for i in range(0,2):
    M.append([])
for j in range(0,3):
        M[i].append(int(input("Digite valor [{}][{}] -> ".format(i,j))))

In [ ]:
from random import randint 
m=[]
for i in range (2):
  m.append([])
  for j in range (3):
    m[i].append(randint(1,50))
print(m)

[[49, 28, 37], [4, 19, 17]]

In [ ]:
m=[]
calc = 0
for i in range (2):
  m.append([])
  for j in range (3):
    m[i].append(int(input('Digite um número:')))
    calc = calc + m[i][j]
print('soma dos números inseridos:',calc)
print(m)

Digite um número:1
Digite um número:2
Digite um número:3
Digite um número:4
Digite um número:5
Digite um número:6
soma dos números inseridos: 21
[[1, 2, 3], [4, 5, 6]]

In [ ]:
M=[]

linhas = 2

colunas = 3

somatoria = 0

for linha in range(linhas): #[0,1]

  M.append([])

  for coluna in range(colunas): #[0,1,2]

    M[linha].append(int(input(f'Digite um valor para [{linha}][{coluna}]: ')))

    somatoria = somatoria + M[linha][coluna]

print(M)

media = somatoria/(linhas*colunas)

print('Soma dos valores: ', somatoria)

print(media)

Digite um valor para [0][0]: 2
Digite um valor para [0][1]: 3
Digite um valor para [0][2]: 4
Digite um valor para [1][0]: 5
Digite um valor para [1][1]: 6
Digite um valor para [1][2]: 7
[[2, 3, 4], [5, 6, 7]]
Soma dos valores:  27
4.5